@charset "UTF-8";


* {											/* 전체 초기화 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family :'GowunDodum-Regular';
	
}

@font-face {									/* 폰트 설정 (회의후 변경예정) */
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header{
	position: sticky; 
	top : 0;
	width: 100%;
	height:50%; 
	line-height: 40%; 
	/* position: relative; */ 
	z-index:9999;
	background-color : #FFFFF0;
}

.search1{
	position : relative;
	bottom : 50px;
	margin-bottom: -3%;

}

.logo img{
	width: 150px;
	height: 70px;
	margin: 5px 0px 40px 5px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	margin: 0 auto;
}
.nav1 {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
	display: inline;
	list-style: none;
	margin: 10;
	text-align: right;
 	text-color: black;
 	
}
.login, .service, .basket {
	margin-left: 10px;
	margin-right: 40px;
	border: 0;
	float: right;
	text-align: top;
	font-size : 13px;
}
input {
	width: 235px;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 13px;
	margin: 20px;
	font-size: 14px;
}

.search{
	width: 40%;
	margin-left: 30%;
}
/* 검색아이콘 */
div a img{
	width: 17px;
}

.nav2 {
	/* 	폰트설정 */
	font: blod 16px "malgun gothic";
	width: 100%;
	height: 50px;
	border-bottom: 2px solid orange;
	background: #FFFFF0;
	/* 	글자색 */
	color: black;
	/* 	라인높이 */
	line-height: 50px;
	/* 	마진을 0으로 줘서 박스 가운데 정렬 */
	margin: 0 auto;
	/* 	마직을 0으로 줘서 글자 가운데 정렬 */
	text-align: center;
	font-family :'GowunBatang-Bold';

}

.nav2 ul{
	display: flex;
}
/* nav태그 자식의 ul의 자식 li를 왼쪽정렬, 넓이설정 */
.nav2>ul>li {
	
	margin : auto;
	width: 100%;
	position: relative;
	
}
.nav2>ul>li>ul {
	/* 	서브메뉴 크기를 130px 고정 */
	width: 100%;
	/* 	서브메뉴가 보이지 않게 설정 */
	display: none;
	/* 	후에 하위 메뉴의 위치를 메인메뉴에 상대적으로 변경하도록  */
	position: absolute;
	/* 	하위 메뉴 폰트 및 배경색 */
	font-size: 14px;
	background: powderblue;
}

/* 메인메뉴에 마우스 호버 시 하위 메뉴 보이기 */
.nav2>ul>li:hover>ul {
	/* 	상자모양으로 보이게 설정 */
	display: block;
}

/* 선택중인 메뉴 표시 */
.nav2>ul>li>ul>li:hover {
	/* 하위 메뉴를 호버시 1초에 걸쳐서 색이 주황색으로 바뀌게 설정 */
	background: orange;
	transition: ease 1s;
}

.outer {
	border: 6px solid red;
	width: 10px;
	height: 3px;
	margin: 0 auto;
	overflow-x: hidden;
}

.inner-list {
	display: flex;
	transition: .3s ease-out;
	height: 100%;
}

.inner {
	border: 6px solid blue;
	padding: 0 16px;
}

.button-list {
	text-align: center;
}

ul li a {
	text-decoration: none;
	color: black;
	line-height: 3em;
	text-transform: uppercase;

}


/* table css */

h1{
	margin-left: 18%;
}



div.member-container{
	min-height: 500px;
	width: 100%;
	padding: 50px;
}

.UserModify-table {
	border-collapse: collapse;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-top: 2px solid #969696;
	margin: auto;
}

.UserModify-table th{
	background-color: #eef1f8;
	width: 150px;
	line-height: 30px;
}

tr {
	border-top: 1px solid #ddd;
}

td{
	width: 1020px;
	text-align: left;
	padding-left: 10px;
}

.usermodify-submit{
	margin-top: 3%;
	text-align: center;
	background-color: orange;
	color: #fff;
	border-color: orange;
	height: 30px;
	width: 50px;
}

.usermodify-cancel{
	margin-top: 3%;
	text-align: center;
	background-color: orange;
	color: #fff;
	border-color: orange;
	height: 30px;
	width: 50px;
	}

.usermodify-btn{
	text-align: center;
}

input[type=password]{
	margin-left: 10px;
}


/* Foot css */

footer {
	width : 100%;
	height: 130px;
	bottom : 0px;
	border-top: 1px solid #c4c4c4;
	padding-top : 15px;
	color : #FFFFFF;
	font-size : 15px;
	display: flex;
	background-color : #383b40;
	margin : auto;
	
	
}

footer a {
	display : inline-block;
	margin : 0 20px 10px 210px;
	color : #808080; 
	font-size: 17px;
	/*border-left-color: 1px soild #808080;*/
}

footer a:visited{
	color:#808080;
}

footer p{
	margin-top : 0;
	margin-bottom:0;
	
}
footer p span{
	display: inline-block;
	margin-left : 100px;
	
}

footer nav{
	text-align: right;
	
	
}

section {
	padding-bottom : 130px; /* footer height 값이랑 동일해야한다*/
	padding-left : 100px;
	padding-right : 100px;
	padding-top: 0px;
}