@charset "UTF-8";
/*----------------------장바구니만의 설정 시작------------------------*/

#cart #order_button1{
	background-color: white;
	border-radius: 5px;
	border: 1px solid orange;
	cursor:pointer;
	padding: 10px 0px;
	font-size:17px;
	width:170px;
	color: orange;
	font-weight: bold;
	margin:0px;
	
}

#cart #order_button2{
	background-color: orange;
	border-radius: 5px;
	border: 1px solid orange;
	cursor:pointer;
	padding: 10px 0px;
	font-size:17px;
	width:170px;
	color: white;
	font-weight: bold;
	margin:0px;
}

#cart #select_button{
	background-color: orange;
	border-radius: 5px;
	border: 1px solid orange;
	cursor:pointer;
	font-size: 13px;
	width:100px;
	height:25px;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 1px 6px;
	margin: 10px 0px 0px 0px;
}
#cart #order_button1:hover{
	background-color: #FAF9F7;
}

#cart #order_button2:hover{
	background-color: #F28C28;	
}
#cart #select_button:hover{
	background-color: #F28C28;	
}
/*----------------------장바구니만의 설정 끝------------------------*/

