@charset "UTF-8";
* {											/* 전체 초기화 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family :'GowunDodum-Regular';
	
}
footer {
	width : 100%;
	padding-top : 0.5%;
	color : #FFFFFF;
	font-size : 15px;
	display: flex;
	background-color : #383b40;
	margin: auto;
	justify-content: space-evenly;
}

footer a {
	display : inline-block;
	margin : 0 0.5% 0 0.5%;
	color : #808080; 
	font-size: 15px;
}

footer p{
	width : 60%;
	margin-top : 0;
	margin-bottom:0;
	margin-left: 10%;
	
}
footer p span{
	display: inline-block;
}

footer nav{
	text-align: right;
}