@charset "UTF-8";
* {											/* 전체 초기화 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* 	font-family :'GowunDodum-Regular'; */
	
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {									/* 폰트 설정 (회의후 변경예정) */
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

.search1{
	position : relative;
	bottom : 0%;
	margin-bottom: 0%;
	text-align: center;
}
div .login_search{
	position: fixed; 
	top : 0%;
	width: 100%;
	line-height: 100%; 
	z-index:9999;
	background-color : #FFFFF0;
	margin-bottom : 30%;
	font-family: 'ONE-Mobile-POP';
}


.logo img{
	height: auto;
	width: 10%;
	margin: 0.6% 0 0 2%;
}

#wrap{
	min-height : 100vh;
	position : relative;
	width : 100%;
}

li {
	list-style: none;
}

.fullclick{
	display:inline-block;
	width: 100%;
	height:100%;
}


.link{ color: black; }
.link:hover{ font-weight: bold; }
.link:visited{ color: black; }
.link:active{ color: orange; }