@charset "UTF-8";
* {											/* 전체 초기화 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family :'GowunDodum-Regular';
	
}

@font-face {									/* 폰트 설정 (회의후 변경예정) */
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap{
	min-height : 100vh;
	position : relative;
	width : 100%;
}

li {
	list-style: none;
}

body {
	margin: 0 auto;
}
.nav1 {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
	display: inline;
	list-style: none;
	margin: 10;
	text-align: right;
 	text-color: black;
 	
}
.login, .service, .basket {
	margin-left: 10px;
	margin-right: 40px;
	border: 0;
	float: right;
	text-align: top;
	font-size : 13px;
}
.search_main{
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 13px;
	margin: 1%;
	font-size: 14px;
	width: 30%;
}

/* 검색아이콘 */
div a img{
	width: 17px;
}

.nav2 {
	/* 	폰트설정 */
	font: blod 16px "malgun gothic";
	width: 100%;
	height: 50px;
	border-bottom: 2px solid orange;
	background: #FFFFF0;
	/* 	글자색 */
	color: black;
	/* 	라인높이 */
	line-height: 50px;
	/* 	마진을 0으로 줘서 박스 가운데 정렬 */
	margin: 0 auto;
	/* 	마직을 0으로 줘서 글자 가운데 정렬 */
	text-align: center;
	font-family :'GowunBatang-Bold';

}

.nav2 ul{
	display: flex;
}
/* nav태그 자식의 ul의 자식 li를 왼쪽정렬, 넓이설정 */
.nav2>ul>li {
	
	margin : auto;
	width: 100%;
	position: relative;
	
}
.nav2>ul>li>ul {
	/* 	서브메뉴 크기를 130px 고정 */
	width: 100%;
	/* 	서브메뉴가 보이지 않게 설정 */
	display: none;
	/* 	후에 하위 메뉴의 위치를 메인메뉴에 상대적으로 변경하도록  */
	position: absolute;
	/* 	하위 메뉴 폰트 및 배경색 */
	font-size: 14px;
	background: powderblue;
}

/* 메인메뉴에 마우스 호버 시 하위 메뉴 보이기 */
.nav2>ul>li:hover>ul {
	/* 	상자모양으로 보이게 설정 */
	display: block;
}

/* 선택중인 메뉴 표시 */
.nav2>ul>li>ul>li:hover {
	/* 하위 메뉴를 호버시 1초에 걸쳐서 색이 주황색으로 바뀌게 설정 */
	background: orange;
	transition: ease 1s;
}

/* 슬라이드 */
/* 슬라이드 사진 */
.outer {
	border: 6px solid red;
	width: 10px;
	height: 3px;
	margin: 0 auto;
	overflow-x: hidden;
}

.inner-list {
	display: flex;
	transition: .3s ease-out;
	height: 100%;
}

.inner {
	border: 6px solid blue;
	padding: 0 16px;
}

.button-list {
	text-align: center;
}

ul li a {
	text-decoration: none;
	color: black;
	line-height: 3em;
	text-transform: uppercase;
}

#slide_image {
	display: block;
	top: 172px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

#slide_image .bannerWrap {
	position: relative;
	width: 100%;
	height: auto;
	margin: 62px auto 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
}

#slide_image .bannerWrap .banner_img {
	position: relative;
	width: 100%;
	height: auto;
	float: left;
}

.slick-dots {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
}

.slick-dots li button {
	width: 100%;
	font-size: 20px;
}

.slick-dots li {
	background: #0d0d0c;
	display: inline-block;
	margin: 5px;
	border-radius: 100%;
	height: 19px;
	width: 15px;
	cursor: pointer;
} 
.slick-dots li.slick-active {
	background: orange;
}

.slick-prev, .slick-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	z-index: 10;
}

.slick-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.slick-prev:hover, .slick-next:hover {
	background-color: orange;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* 슬라이드 끝 */

.main_popular1 {
    margin: 0 auto;
    display: flex;
    margin-top: 70px;
    flex-wrap: nowrap;
    justify-content: center;
}


.main_popular2 {
    margin: 0 auto;
    display: flex;
    margin-top: 5px;
    flex-wrap: nowrap;
    justify-content: center;
}

.main_popular-item {
    text-align: center;
    font-size: 24px;
    width: 420px;
    height: 420px;
    border: 2px solid orange;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding : 20px;
}

.main_popular-item img{
	position: absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height: 100%;
	object-fit : cover;
}


#main_section {
	padding-bottom: 12%;
    padding-left: 19%;
    padding-right: 19%;
    padding-top: 12%;
}

.main_popular-item a{
	color: black;
	
}

.main_popular-item a:hover{
	font-weight: bold;
}

.main_popular-item a:visited{
	color: black;
}

.main_popular-item a:active{
	color: orange;
}


