@charset "UTF-8";

#service {
	margin: 14% 0 14% 0;
}

#service>.a:link {
	color: black;
	text-decoration: none;
}

#service>.a:visited {
	color: orange;
	text-decoration: none;
}

#service>.a:hover {
	color: orange;
	text-decoration: none;
	font-weight: bold;
}

.table_main1 {
	margin: auto;
}

.table_main1 td {
	text-align: center;
}

.title2 {
	text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
	text-decoration: none;
	color: orange;
	font-size: 30px;
	height: 50px;
	padding-left: 10px;
}

#service>.div_basic {
	border: 1px solid orange;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	margin: 20% 14% 2% 40%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-decoration: none;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding-left: 5px;
}

#service>.board_hr a {
	margin-top: 2px;
	width: 15%;
	text-decoration: none;
	background-color: yellow;
	border-radius: 10px;
}

.table_main {
	margin: auto;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding-left: 40%;
}

.title {
	font-size: 30px;
	height: 70px;
	padding-left: 10px;
}

.table_title {
	background-color: #eeeeee;
	text-align: center;
	width: 50% 30% 50% 30%;
	text-decoration: none;
}

.test {
	margin: 10% 10% 0 10%;
}

.a th {
	width: 20%;
	height: 40%;
}

.a  td {
	width: 400%;
	height: 900%;
	text-decoration: none;
}

.b textarea {
	resize: none;
}

.c a {
	width: 300% text-decoration: none;
	color: orange;
	text-decoration: none;
}