@charset "UTF-8";


* {											/* 전체 초기화 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family :'GowunDodum-Regular';
	
}

@font-face {									/* 폰트 설정 (회의후 변경예정) */
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}



.wrap{
	margin: auto;
	margin-top: 200px;
	margin-bottom: 100px;
	width: 70%;
	height: 550px;
	border: 2px solid #d4d4d4;
}

.secession-title{
	margin: auto;
	border-bottom: 1px solid #d4d4d4;
	width: 90%;
	padding-top: 50px;
	padding-bottom: 10px;
}

.secession-text{
	margin: auto;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

.secession-box{
	margin: auto;
	border: 1px solid #666;
	width: 90%;
}

section h1{
	padding:20px 0 5px 20px;
}

section li{
	padding-left: 20px;
	
}

.secession-box-text{
	font-size: 15px;
	
}

.secession-confirm{
	margin-top: 10px;
	border-top: 1px solid #666;
	width: 100%;
	background-color: #eae0ed;
	padding: 10px 0 10px 20px;
	font-size: 15px;
	
}

secession-confirm-checkbox{
	margin: auto;
	text-align: left;
}

#secession-checkbox{
	width: 15px;
	height: 15px;
		
}

.secession-final{
	margin: auto;
    width: 90%;
    font-size: 18px;
    text-align:right;
    font-weight:bold;
}


.secession-final-btn {
    color: red;
    font-weight: initial;
}

.secession-final-btn:hover {
	font-weight: bold;
}
